@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: lightpink;
  /* background-image: linear-gradient(90deg, #7d5fff, #7158e2); */
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
.search {
  position: relative;
  height: 50px;
}

.search .input {
  background-color: #fff;
  padding: 10px;
  border: 0;
  height: 50px;
  width: 50px;
  font-size: 18px;
  transition: 0.3s ease;
}

.search .btn {
  background-color: #fff;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  font-size: 20px;
  transition: 0.3s ease;
}

.active .btn {
  transform: translateX(200px);
  transition: 0.3s ease;
}

.active .input {
  width: 200px;
  transition: 0.3s ease;
}

.search .input:focus,        /* Cuando uno da click no aparazca el borde*/
.search .btn:focus {
  outline: 0;
}
